.bg{
    background-color: aqua;
}
.btn{
    background-color:lavenderblush;
    font-size: 20px;
    border-radius: 5px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items:center ;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color: lightcoral;
    background-color: blueviolet;
    border-radius: 20px;
}
